<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WescoLoginUrl" value="https://www.anixter.com/en_us/login"/>
		<add key="WescoUsername" value="operations@csi-security.us"/>
		<add key="WescoPassword" value="Wuv69631!"/>
		<add key="WescoProductSearchTerm" value="01004-001,01155-001,01241-001,012T88-33180-A3,01473-001,01621-001"/>
	</appSettings>
</configuration>